    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">GROKLC</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="row">
<div class="span12">
<h1>Grand Recursive Order of the Knights of the Lambda Calculus</h1>
<p>We Grok λ-calculus!</p>

<hr/>

<div class="alert fade in">
  <button type="button" class="close btn-warning " data-dismiss="alert">Ta gueule !</button>
  <strong>Hey !</strong> On a du pain sur la planche…
</div>

</div>
</div>
